@font-face {
  font-family: "Jura";
  font-style: normal;
  src: local("Jura"),
  url("fontFiles/Jura-VariableFont_wght.woff2") format("woff2"),
  url("fontFiles/Jura-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-family: "RussoOne";
  font-style: normal;
  src: local("RussoOne"),
  url("fontFiles/RussoOne-Regular.woff2") format("woff2"),
  url("fontFiles/RussoOne-Regular.woff") format("woff");
}

@font-face {
  font-family: "Tektur";
  font-style: normal;
  src: local("Tektur"),
  url("fontFiles/Tektur-VariableFont_wdth_wght.woff2") format("woff2"),
  url("fontFiles/Tektur-VariableFont_wdth_wght.woff") format("woff");
}

